

$primary: #439ae0;
$textColor: #383838;
$activeBtn: #212b33;
$disableBtn: #efefef;
$price: #5bc287;
$discount: #ce8687;
$esc: #d79092;
$background: #f8f8f8;
$disableTextColor: #aaaaaa;
$whiteColor: #fff;
$blackColor: #000;


ul{
    list-style: none;
    padding-left: 0;
}

li{
    text-decoration: none;
}

.btn{
    width: 100px;
    padding: 12px;
    color: $textColor;
    background-color: $disableBtn;
    border-radius: 20px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.billBtn{
    margin: 0 4px;
}

.primaryBtn{
    color: $whiteColor;
    background-color: $primary;
    font-weight: 600;
}

.checkoutBtn{
    width: 100%;
    font-size: 1rem;
}

.payingTypeBtn{
    width: 30%;
}

// DashBoard Color Charts
.today{
    background-color: rgba(251, 229, 145, 0.25);
}

.thisWeek{
    background-color: #FFB6B6;
}

.thisMonth{
    background-color: #DAF7E8;
}

.today .proceedIcon{
    background-color: #8B7F50;
}

.thisWeek .proceedIcon{
    background-color: #A36B6B;
}

.thisMonth .proceedIcon{
    background-color: #5D9378;
}