

$primary: #439ae0;
$textColor: #383838;
$activeBtn: #212b33;
$disableBtn: #efefef;
$price: #90d2ad;
$discount: #cf9091;
$esc: #d79092;
$background: #f8f8f8;
$disableTextColor: #cbcbcb;
$whiteColor: #fff;
$blackColor: #000;