@import "../scss/Variable.scss";

.menu{
    height: 100%;
    overflow: scroll;
    padding-right: 6px;

    &::-webkit-scrollbar{
        display: none;
    }
}

.menuTitle{
    text-align: left;
    color: $textColor;
    padding-left: 12px;
    margin:24px 0 6px 0;
}

.menuList{
    width: 100%;
    height: 56vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.menuForm{
    width: 44%;
    margin-top: 32px;
    padding: 16px;
    background-color: $whiteColor;
    border-radius: 25px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.05);
    
    &:nth-child(1){
        margin-top: 0;
    }
    &:nth-child(2){
        margin-top: 0;
    }
}

.menuForm:first-child{
    margin-right: 28px;
}


.menuItem{
    text-decoration: none;
    display: flex;
}

.itemInfo{
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemInfo h3{
    margin: 0;
}

.itemInfo p{
    margin-top: -8px;
}

.productPrice{
    font-size: 1rem;
    font-weight: 600;
}

.productImg{
    padding: 8px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.detailBtn{
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    margin-top: 20px;
    text-transform: none;
    font-size: 1rem;
    border: none;
    background-color: $disableBtn;
    color: $blackColor;
    font-weight: 600;

    &:hover{
        color: $whiteColor;
        background-color: $primary;
        cursor: pointer;
    }
}
