
@import "../components/scss/Variable.scss";
@import "../components/scss/Mixed.scss";


.empAdd{
    
    display: block;
    font-size: 2.6rem;
    padding: 12px;
    border-radius: 50%;
    color: $primary;

    &:hover{
        background-color: $primary;
        color: $whiteColor;
        cursor: pointer;
    }
}

.empList{
    height: 66vh;
    overflow: auto;
    margin-top: 0;
    &::-webkit-scrollbar{
        display: none;
    }
    padding-bottom: 20px;
}

.empImg{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.empItem{
    display: block;
    align-items: center;
    border-radius: 20px;
    margin-top: 24px;
}

.empCard{
    border: 1px solid $primary;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.05);
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 16px;

    &:hover{
        background-color: $primary;
        color: $whiteColor;
        cursor: pointer;

        .empImg{
            border: 1px solid $whiteColor;
        }
    }
}

.empInfo{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.empShowMore{
    font-size: 2rem;
    padding: 12px;
    border-radius: 50%;
}

// EMP DETAILS

.empInfoDetails{
    margin: 0 auto;
    display: block;
    width: 90%;
    margin-top: 16px;
    border-radius: 20px;
    border: 1px solid $primary;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.empDetails{
    padding: 8px 0 8px 24px;
    width: 100%;
    font-size: 1.2rem;
    tr > td:first-child{
        width: 30%;
        font-weight: 500;
        text-align: left;
    }    
    tr > td:last-child{
        width: 70%;
    }
    td{
        padding: 8px 0;
    }
    
    
}

