
@import "../components/scss/Variable.scss";
@import "../components/scss/Mixed.scss";


.empAdd{
    
    display: block;
    font-size: 2.6rem;
    padding: 12px;
    border-radius: 50%;
    color: $primary;

    &:hover{
        background-color: $primary;
        color: $whiteColor;
        cursor: pointer;
    }
}

.empList{
    height: 66vh;
    overflow: auto;
    margin-top: 0;
    &::-webkit-scrollbar{
        display: none;
    }
    padding-bottom: 20px;
}

.empImg{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.empItem{
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 16px;
    margin-top: 24px;
    box-shadow: 1px 3px rgb(233, 233, 233);
    border: 1px solid rgb(218, 215, 215);

    &:hover{
        background-color: $primary;
        color: $whiteColor;
        cursor: pointer;
    }
}

.empInfo{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.empDelete{
    font-size: 2rem;
    padding: 12px;
    border-radius: 50%;
}